.btn-large {
    padding: 14px 16px;
    font-size: 15pt;
    line-height: 1.33;
    border-radius: 6px;
    height: 100px;
}

.padButtons{
    margin-top: 20%;
}

.controlButton{
    width: 35%;
}
.startButton{
    width: 28%;
}
