.btn-large {
    padding: 14px 16px;
    font-size: 15pt;
    line-height: 1.33;
    border-radius: 6px;
    height: 100px;
}

.padButtons{
    margin: 20% auto 0;
    width:100%;
    text-align: center;
}

.controlButton{
    width: 30%;
}
.startButton{
    width: 25%;
}
