{% extends "game/base.html" %}
{% load staticfiles %}
{% load absurl_tags %}

{% block title %}Running game!{% endblock title %}

{% block content %}
    <div class="page-header">
        <h1>Running game</h1>
    </div>
    <div class="row">
        <div id="cr-stage"></div>
    </div>
    <div class="row center">
        <strong>Gamepad link:</strong>
        <a href="{% absurl "gamepad" auth_code=auth_code %}">{% absurl "gamepad" auth_code=auth_code %}</a>
    </div>
    <div class="row center hidden-desktop">
        For comfortable play open game on desktop and gamepad on phone
    </div>
{% endblock content %}

{% block script %}
    <script src="{% static "js/lib/socket.io.js" %}" type="text/javascript"></script>
    <script src="{% static "js/lib/qrcode.js" %}" type="text/javascript"></script>
    <script src="{% static "js/lib/crafty.js" %}" type="text/javascript"></script>
    <script src="{% static "js/game.js" %}" type="text/javascript"></script>
    <script src="{% static "js/components.js" %}" type="text/javascript"></script>
    <script src="{% static "js/scenes.js" %}?2" type="text/javascript"></script>
    <script type="text/javascript">
        (function(){
            var connected = false;
            var padConnected = false;
            var actor_type = '{{ actor_type }}';
            var auth_code = '{{ auth_code }}';
            var listen_actor_type = '{{ listen_actor_type }}';
            socket = io.connect();
            socket.on('message', function(recvData){
                console.log(recvData);
                var data = $.parseJSON(recvData);
                if(data.message == 'connected'){
                    connected = true;
                }
                if(data.padConnected){
                    padConnected = true;
                    socket.send(JSON.stringify({
                        'action': 'send',
                        'padAllowed': true
                    }));
                }
                if(data.leftButtonPressed && padConnected){
                    Crafty.trigger('LeftButtonPressed', null);
                }
                if(data.startButtonPressed && padConnected){
                    Crafty.trigger('StartButtonPressed', null);
                }
                if(data.rightButtonPressed && padConnected){
                    Crafty.trigger('RightButtonPressed', null);
                }
            });
            socket.send(JSON.stringify({
                'action': 'subscribe',
                'actor_type': actor_type,
                'auth_code': auth_code,
                'listen_actor_type': listen_actor_type
            }));
            $(document).on('gameStarted', function(){
                socket.send(JSON.stringify({
                    'action': 'send',
                    'gameStarted': true
                }));
            });
            $(document).on('gameFinished', function(event){
                socket.send(JSON.stringify({
                    'action': 'send',
                    'gameFinished': true
                }));
                socket.send(JSON.stringify({
                    action: 'send_signal',
                    event: 'game_finished',
                    score: event.score
                }));
            });

            Game.init('{% absurl 'gamepad' auth_code=auth_code %}', '{% static "img/tile1.png" %}');
        })();
    </script>
{% endblock script %}
