{% extends "game/base.html" %}
{% load staticfiles %}

{% block title %}Running game!{% endblock title %}

{% block content %}
    <h1>Running game</h1>
    <div class="btn-group-lg">
        <a id="leftButton" href="#" class="btn btn-success"> left</a>
        <a id="startButton" href="#" class="btn btn-danger"> start-game</a>
        <a id="rightButton" href="#" class="btn btn-success"> right</a>
    </div>
    <div class="row">
        <div id="cr-stage"></div>
    </div>
{% endblock content %}

{% block script %}
    <script src="{% static "js/lib/crafty.js" %}" type="text/javascript"></script>
    <script src="{% static "js/game.js" %}" type="text/javascript"></script>
    <script src="{% static "js/components.js" %}" type="text/javascript"></script>
    <script src="{% static "js/scenes.js" %}" type="text/javascript"></script>
    <script type="text/javascript">
        (function(){
            $('#startButton').on('click', function(){
                Crafty.trigger('StartButtonPressed', null);
                console.log('startButton');
            });
            $('#leftButton').on('click', function(){
                Crafty.trigger('LeftButtonPressed', null);
                console.log('leftButton');
            });
            $('#rightButton').on('click', function(){
                Crafty.trigger('RightButtonPressed', null);
                console.log('rightButton');
            });
            Game.init();
        })();
    </script>
{% endblock script %}