{% extends "game/base.html" %}
{% load staticfiles %}

{% block title %}Gamepad{% endblock title %}

{% block css %}
    <link href="{% static "css/gamepad.css" %}" rel="stylesheet">
{% endblock css %}

{% block navigation_wrap %}{% endblock navigation_wrap %}

{% block content %}
    <div class="padButtons">
        <button disabled="disabled" id="leftButton" href="#" class="btn btn-success btn-large controlButton gameButton"> left</button>
        <button disabled="disabled" id="startButton" href="#" class="btn btn-danger btn-large startButton gameButton"> start</button>
        <button disabled="disabled" id="rightButton" href="#" class="btn btn-success btn-large controlButton gameButton"> right</button>
    </div>
    <div id="message">
    </div>
{% endblock content %}

{% block script %}
    <script src="{% static "js/lib/socket.io.js" %}" type="text/javascript"></script>
    <script type="text/javascript">
        (function(){
            var connected = false;
            var padAllowed = false;
            var actor_type = '{{ actor_type }}';
            var auth_code = '{{ auth_code }}';
            var listen_actor_type = '{{ listen_actor_type }}';
            $('#message').text('Wait connection...');
            socket = io.connect()
            socket.on('message', function(recvData){
                console.log(recvData);
                var data = $.parseJSON(recvData);
                if(data.message == 'connected'){
                    connected = true;
                    socket.send(JSON.stringify({
                        'action': 'send',
                        'padConnected': true
                    }));
                    $('#message').text('Send info about gamepad');
                }
                if(data.padAllowed){
                    padAllowed = true;
                    $('#leftButton').removeAttr('disabled');
                    $('#startButton').removeAttr('disabled');
                    $('#rightButton').removeAttr('disabled');
                    $('#message').text('All ok! You can play!');
                }
                if(data.gameStarted){
                    $('#startButton').attr('disabled', 'disabled');
                }
                if(data.gameFinished){
                    $('#startButton').removeAttr('disabled');
                }
            });
            socket.send(JSON.stringify({
                'action': 'subscribe',
                'actor_type': actor_type,
                'auth_code': auth_code,
                'listen_actor_type': listen_actor_type
            }));

            $('#leftButton').on('click', function(){
                if(connected && padAllowed){
                    socket.send(JSON.stringify({
                        'action': 'send',
                        'leftButtonPressed': true
                    }));
                }
                return false;
            });
            $('#startButton').on('click', function(){
                if(connected && padAllowed){
                    socket.send(JSON.stringify({
                        'action': 'send',
                        'startButtonPressed': true
                    }));
                }
                return false;
            });
            $('#rightButton').on('click', function(){
                if(connected && padAllowed){
                    socket.send(JSON.stringify({
                        'action': 'send',
                        'rightButtonPressed': true
                    }));
                }
                return false;
            });
        })();
    </script>
{% endblock script %}
