<!-- AddThis Button BEGIN -->
<div class="addthis_toolbox addthis_default_style pull-right share-links visible-desktop">
<a class="addthis_button_tweet"></a>
<a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
<a class="addthis_button_google_plusone" g:plusone:size="medium"></a>
</div>
<script type="text/javascript">
var wwaddthis_config = {"data_track_addressbar":true};
var addthis_share = {
   url: 'http://running-game.ru/',
   title: 'No time to explain! Just play!'
}
</script>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-52482bad46655c71"></script>
<!-- AddThis Button END -->